*{
  font-size: large;
  color: red;
}
.tarun{
  background-color: black;
  color: white;
  font-size: 30%;
  margin: 0%;
  /* margin-top: 20%; */
  margin: 2%;
  
}
.tarun:hover{
  color: white;
  background-color: white;
}